<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dictation.mapper.GradeMapper">

<!--    <select id="findAll" resultType="com.dictation.book.entity.Grade">-->
<!--        select * from tbl_grade-->
<!--    </select>-->



</mapper>