<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dictation.mapper.MonthRecordMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="mrid">
        insert into tbl_month_record (error,uid,mright,sum,date,acc) values (#{error},#{uid},#{mright},#{sum},#{date},#{acc})
    </insert>

    <delete id="delete">
        delete from tbl_month_record where mrid = #{mrid}
    </delete>

    <update id="update">
        update tbl_month_record set error = #{error} , uid = #{uid} , mright = #{mright} , sum = #{sum} , date = #{date} , acc = #{acc} where mrid = #{mrid}
    </update>

    <select id="findById" resultType="com.dictation.record.entity.MonthRecord">
        select * from tbl_month_record where mrid = #{mrid}
    </select>

    <select id="findByUidAndDate" resultType="com.dictation.record.entity.MonthRecord">
        select * from tbl_month_record where uid = #{uid} and date = #{date}
    </select>

    <select id="findByUid" resultType="com.dictation.record.entity.MonthRecord">
        select * from tbl_month_record where uid = #{uid}
    </select>



</mapper>