<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dictation.mapper.UserMapper">
    <!-- 查询是否存在用户 -->
    <select id="checkPhone" resultType="com.dictation.user.entity.User" parameterType="String">
        select uid,uphone
        from tbl_user
        where uphone = #{phone}
    </select>
    <!-- 根据phone找到对应的user对象-->
    <select id="findUserByPhone" resultType="com.dictation.user.entity.User">
        select uid,uname,ucity,uheadPath,uphone,upassword,ubirth,vip,is_admin,usex,ugrade
        from tbl_user where uphone = #{phone}
    </select>
    <select id="findUserByUid" resultType="com.dictation.user.entity.User">
        select uid,uname,ucity,uheadPath,uphone,upassword,ubirth,vip,is_admin,usex,ugrade
        from tbl_user where uid = #{uid}
    </select>

    <select id="findPhoneByUid" resultType="String">
        select uphone
        from tbl_user where uid = #{uid}
    </select>
    <!-- 新增user -->
    <insert id="saveUser" keyProperty="uid" useGeneratedKeys="true" parameterType="com.dictation.user.entity.User">
        insert into tbl_user(uname,uphone)
        values (#{uname},#{uphone})
    </insert>
    <update id="updateUserImage">
        update tbl_user
        set uheadPath = #{url}
        where uid = #{uid}
    </update>

    <select id="loginByPP" resultType="com.dictation.user.entity.User">
        select uid,uname,ucity,uheadPath,uphone,upassword,ubirth,vip,is_admin,usex,ugrade
        from tbl_user where uphone = #{phone} and upassword = #{password}
    </select>
    
    <update id="updateUser" parameterType="com.dictation.user.entity.User">
        update tbl_user set
            <if test="uname!=null and !uname.equals('')">uname=#{uname},</if>
            <if test="ugrade >= 0">ugrade=#{ugrade},</if>
            <if test="ubirth != null">ubirth=#{ubirth},</if>
            <if test="usex!=null and !usex.equals('')">usex=#{usex},</if>
            <if test="ucity!=null and !ucity.equals('')">ucity=#{ucity},</if>
            uid = #{uid}
        where uid = #{uid}
    </update>

    <update id="updatePwd">
        update tbl_user
        set upassword = #{password}
        where uid = #{uid}
    </update>
    
    <delete id="deleteUser">
        delete from tbl_user
        where uid = #{uid}
    </delete>
</mapper>
